/*CARACTERISTICAS COMPARTIDAS DE LOS 5 HTML*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    text-decoration: none;
    background-color: rgb(144, 224, 239);

}


.layout {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 98vh;

}

.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(144, 224, 239);
    min-height: 6vh;
    width: 99vw;
    padding-left: 20px;

}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;

}

.footer {
    display: flex;
    justify-content: center;
    min-height: 3vh;
    width: 99vw;
    background-color: rgb(0, 119, 182);

}

.logo {
    width: 3%;
    background-color: rgb(144, 224, 239);

}



.navBar a {
    padding: 5px;
    border: 3px solid darkblue;
    cursor: pointer;
    border-radius: 35px;

}

.navBar {
    background-color: rgb(144, 224, 239);

}

a:hover {
    background-color: rgb(1, 106, 162);
    color: black;
}

.titulos {
    font-size: 3em;
    text-align: center;
    color: white;
    background-color: rgb(0, 119, 182);

}

header,
h1,
h2 {
    display: flex;
    justify-content: center;
    width: 99%;
}


/*Index*/

/*HEADER*/

/*MAIN*/

.banner {
    width: 100%;
    height: 300px;

}

.imgBanner {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 400px;
    padding-top: 10px;

}

.imgIcecream {
    width: 22%;
    border-radius: 15px;

}


.parrafo {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: darkblue;
    width: 100%;

}

/*FOOTER*/


/*About As*/

/*HEADER*/

/*MAIN*/

h2 {
    display: flex;
}

.subTitulo {
    display: flex;
    justify-content: center;
    color: darkblue;
    font-size: 2em;
}

.sectionAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

.article1 {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 5px;
    padding-left: 10px;

}

.article2 {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 5px;
    padding-left: 30px;

}

.article3 {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 5px;
    padding-right: 110px;

}


.img1 {
    height: 200px;
    width: 200px;
    border-radius: 10px;

}

.img2 {
    height: 200px;
    width: 200px;
    border-radius: 10px;

}

.img3 {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.parrafo1 {
    color: darkblue;

}

.parrafo2 {
    color: darkblue;

}

.parrafo3 {
    color: darkblue;

}

/*FOOTER*/



/*Contact*/

/*HEADER*/

/*MAIN*/

.banner2 {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column-reverse;
}

.imgBanner2 {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;

}


.order {
    font-size: 1.5em;
    color: darkblue;
    display: flex;
    justify-content: center;

}

.delivery {
    font-size: 1.5em;
    color: darkblue;
    display: flex;
    justify-content: center;

}


.email {
    font-size: 1.5em;
    color: darkblue;
    display: flex;
    justify-content: center;

}

.phone {
    font-size: 1.5em;
    color: darkblue;
    display: flex;
    justify-content: center;

}


/*FOOTER*/

/*More Information*/

/*HEADER*/

/*MAIN*/


table {
    margin: 60px;

}

table {
    margin-top: 150px;

}

table,
tr,
td,
th {
    border: 2px solid darkblue;
    text-align: center;
    border-collapse: collapse;
    padding: 20px;
}

caption {
    caption-side: bottom;
}




/*FOOTER*/

/*Benefits and Tips*/

/*HEADER*/

/*MAIN*/

.sectionBen {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.article4 {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 5px;
    margin-top: 3px;
}

.article5 {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 5px;
}

.bene1 {
    width: 99%;
    height: 380px;
    border-radius: 10px;

}


.bene2 {
    width: 50%;
    height: 295px;
    border-radius: 10px;

}

/*FOOTER*/


/*Raffle*/


/*Header*/



/*Main*/


.location {
    display: flex;
}

.mainRaffle {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    min-height: 80vh;

}

.section1Raffle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-height: 80vh;
    gap: 10px;

}

.section2Raffle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-height: 75vh;
    gap: 10px;
}

main {
    flex-direction: column;
    width: 100%;
    min-height: 80%;

}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 1.5rem;
    color: darkblue;

}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border-color: rgb(28, 5, 49);

}



/*FOOTER*/


/* MEDIA QUERIES*/


/* MOBILE*/

/*Index*/

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .layout {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;

    }

    .header {
        justify-content: center;
        flex-direction: column;
        min-height: 25vh;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        min-height: 71vh;
        max-width: 100vw;

    }

    .footer {
        min-height: 4vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 45%;

    }

    .navBar a {
        display: flex;
        justify-content: center;
    }


    .navBar {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        gap: 2px;
        margin: 10px;

    }

    .navBarDiv {
        display: flex;
        flex-direction: column;

    }

    .banner {
        width: 100%;
        object-fit: cover;
        display: flex;
        flex-direction: column;

    }

    .titulos {
        font-size: 3rem;

    }

    .subTitulo {
        padding: 10px;

    }

    .parrafo {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 20px;


    }


    /*About Us*/

    .imgIcecream {
        width: 100%;
        border-radius: 4px;
    }



    .sectionAbout {
        width: 100%;
        padding: 0;
    }


    .article1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 0;
        gap: 10px;
    }

    .article2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        margin: 0;

    }

    .article3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        margin: 0;

    }

    /*Contact*/

    .imgbanner2 {
        width: 30vw;
        object-fit: cover;
        display: flex;
        flex-direction: column-reverse;
        max-height: 25vh;
        gap: 15px;
        margin-top: 20%;

    }

    .banner2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        margin-top: 0;
        height: 50vh;

    }


    /*More Information*/



    /*Benefits and Fits*/
    .article4 {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        height: 100vh;
        gap: 5px;
    }

    .article5 {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 5px;
    }

    .sectionBen {
        display: flex;
        flex-direction: column;
        gap: 5px;
        min-height: 75vh;

    }

    .list1 {
        display: flex;

    }

    .list2 {
        display: flex;
        flex-direction: column;

    }

    .bene1 {
        width: 90%;

    }

    .bene2 {
        width: 80%;

    }

    /*Raffle*/

    .mainRaffle {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .map {
        display: flex;
        width: 90%;

    }

    .section1Raffle {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .section2Raffle {
        width: 100%;

    }


    .header {
        padding-left: 0;
    }


}



/* TABLET*/